@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1170px;
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */
#menu-area {
    display: flex;
   justify-content: space-between;
    padding: 0 100px;
    position: fixed;
    width: 100%;
    top: 0;
}

#menu-area .logo {
    height: 70px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu-area ul {
    width: 600px;
    justify-content: space-around;
    list-style: none;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: 15px;
    font-weight: 500;
}

#menu-area ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.cus-nav {
    background: #ffffff;
    transition: all 1.5s ease;
    position: fixed;
    top: 0;
    z-index: 999;
}

.btn-navbar {
    background: none;
    width: 70px;
    height: 35px;
    border: 1px solid #747fe0;
    border-radius: 10px;
    transition: .6s;
    overflow: hidden;
}

button:hover {
    background: #747fe0;
    cursor: pointer;
}

/* akhir header */

/* css main */
.top{
    display: flex;
    justify-content: space-between;
    height: 550px;
    background-color: white;
}

.top-wrapper h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding-top: 150px;
    
}
#your-job {
    color: #2000ff;
}

.img-wrapper{
    padding-top: 100px;
}

input{
  width:350px;
  border-radius: 10px;
  margin-top:10px;
  padding:10px;
  font-size:18px;
  border:1px solid #2000ff;
}

/* batas main */

/* css main tambahan */
.lesson-wrapper {
    margin-top: 90px;
    padding-bottom: 500px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(230, 225, 225);
    text-align: center;
}

.heading {
    padding-top: 30px;
    padding-bottom: 50px;
    color: black;
    opacity: 0.8;
    font-size: 12px;
}

.box {
    position: relative;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 10px;
    margin: 4px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    float: left;
    width: 24%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box-icon {
    position: relative;
}
.box-icon p {
    position: absolute;
    top: 44%;
    width: 50%;
    color: white;
}
.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: black;
    opacity: 0.8;
}
.box .apply {
    cursor: pointer;
    background-color: #00AA13;
    padding: 5px 20px;
    box-shadow: 0 2px #03421d;
    color: white;
    float: right;
    border-radius: 10px;
    margin-bottom: 9px;

#see-more {
    float: right;
    margin-top: 20px;
    margin-right: 24px;
    background-color: #00AA13;
    padding: 4px 9px;
    border-radius: 8px;
}

}
#see-more {
    float: right;
    margin-top: 20px;
    margin-right: 24px;
    background-color: #00AA13;
    padding: 4px 9px;
    border-radius: 8px;
}

body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
}

.main {
    background-color: #bdf7f1;
    height: 600px;
}

.footer {
    background-color: #130097;
    color: fff;
    height: 100%;
    Padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-logo {
    font-size: 30px;
    float: left;
    color: white;
    font-family: 'Almarai', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.footer h3 {
    padding-top: 40px;
    text-align: left;
    color: white;
    font-style: normal;
    font-size: 20px;
}

.footer p {
    color: white;
    float: right;
    padding-top: 70px;
}

.footer input {
    border: none;
    background-color: lightgray;
    opacity: 30;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    border: none;
    background-color: #FFB300;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.footer ::placeholder {
    font-size: medium;
    padding-left: 10px;
}
